*{
  margin: 0;
  padding: 0;
}
body {
  background: #7c97b6 /*url(images/square.png)*/;
  height: 100%;
  font: 16px/24px Arial, Tahoma, Sans-serif;
}

.content{
   min-height: calc(100vh - 80px);
  background: #8497b0;
}

.topmenu button{
  
  background-color: #5b9bd5;
  border: 1px solid blue;
  color: white;
  font-size: 16px;
  padding: 4px 10px;
  font-weight: bold;
}
.main{
  background: #8497b0;
  box-sizing: border-box;
  min-height: 100%;
  
}
.topmenu {
  background: #a8c4e6;
  float: center;
  height: 70px;
  line-height: 70px; /*отступ сверху*/
  font-size: 22px;
  border: 1px solid blue;
}

.topmenu a {
  /*margin: 0 0 0 10px;*/
  color: white;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 40px;
  padding-bottom: 30px;
  text-decoration: none; /* Отменяем подчеркивание у ссылки */
}

.topmenu a:hover {
  color: black;
}
.create {
  color: white;
  margin: 50px;
  font-size: 18px;
  font-family: Arial, Georgia, Times, "Times New Roman", serif;
}
.create ul{
  background: #98bce4;
  width: 100px;
  margin-top: -50px;
  margin-left: 100px;
  list-style-type:none;
 list-style-position:outside;
  border: 1px solid blue;
  padding: 3px;
}
.projects {
  color: white;
  padding: 50px;
  font-size: 18px;
  font-family: Arial, Georgia, Times, "Times New Roman", serif;
}
.projects ul{
  background: #98bce4;
  width: 100px;
  margin-top: -50px;
  margin-left: 100px;
  list-style-type:none;
 list-style-position:outside;
  border: 1px solid blue;
  padding: 3px;
}
#projects {
  color: white;
  padding: 50px;
  font-size: 18px;
  font-family: Arial, Georgia, Times, "Times New Roman", serif;
}
#projects ul{
  background: #98bce4;
  width: 100px;
  margin-left: 80%;
  margin-top: -50px;
  list-style-type:none;
 list-style-position:outside;
  border: 1px solid blue;
  padding: 3px;
}
#formadd{
  background: #98bce4;
  margin-left: 500px;
  margin-top: -100px;
  padding: 20px;
  width: 600px;
  border: 1px solid blue;
}
#formadd button{
  margin-left: 120px;
  background-color: #5b9bd5;
  border: 1px solid black;
  color: white;
  font-size: 20px;
  font-weight: bold;
  padding: 6px 20px;
}
#formprojects{
  background: #98bce4;
  margin-left: 500px;
  margin-top: -200px;
  padding: 20px;
  width: 600px;
  border: 1px solid blue;
}
.add_form{
  font-size: 17px;
  font-family: Arial, Georgia, Times, "Times New Roman", serif;
  color: white;
}
.projects_form{
  font-size: 17px;
  font-family: Arial, Georgia, Times, "Times New Roman", serif;
  color: white;
}
.add_form h2{
  padding-bottom: 40px;
}
.projects_form h2{
  padding-bottom: 10px;
}
.add_form ul{
  list-style-type:none;
 list-style-position:outside;
 margin:0px;
 padding:0px;
}
.projects_form ul{
  list-style-type:none;
 list-style-position:outside;
 margin:0px;
 padding:0px;
}
.add_form li{
 padding:12px;
 border-bottom:1px solid #eee;
 position:relative;
}
.projects_form li{
 padding:8px;
 border-bottom:1px solid #eee;
 position:relative;
}
.projects_form textarea {
	resize: none;
}
.add_form buton{
  
}
.register_form{
  border: 2px solid blue;
  width: 750px;
  margin: auto;
  margin-top: 100px;
  background: #5b9bd5;
  color: aliceblue;
  font-size: 16px;
  font-family: Arial, Georgia, Times, "Times New Roman", serif;
}
.register_form ul {
 width:750px;
 list-style-type:none;
 list-style-position:outside;
 margin:0px;
 padding:0px;
}
.register_form li{
 padding:12px;
 border-bottom:1px solid #eee;
 position:relative;
}
.itog{
  margin-left: 400px;
  margin-top: -100px;
  margin-bottom: 0px;
}
.register_form li:first-child, .register_form li:last-child {
 border-bottom:1px solid #777;
}

.register_form label {
 width:150px;
 margin-top: 3px;
 display:inline-block;
 float:left;
 padding:3px;
}
.register_form input {
 height:20px;
 width:220px;
 padding:5px 8px;
}
.register_form textarea {padding:8px; width:300px;}
.register_form button {
  margin-left: 250px;
  background-color: #5b9bd5;
  border: 2px solid black;
  color: white;
  font-size: 22px;
  padding: 4px 10px;
  font-weight: bold;  
}

.main1 {
  padding-bottom: 100px; /*Высота футера*/
  background: #5b9bd5;
  align-content: center;
  margin: 60px;
  margin-left: 200px;
  margin-right: 200px;
  height: 400px;
  color: white;
  border: 1px solid #000000;
}

.block{
  margin: auto;
}
footer {
  height: 80px;
  
  line-height: 80px;
  background: #a7c3e6;
  color: white;
  font-size: 26px;
  text-align: center;
}
textarea {
	resize: none;
	vertical-align: top;
	margin-left: 5px;
	padding:20px;
}
p.proj{
	margin-left: 20px;
}

.button1 {
  background-color: #5b9bd5; 
  border: 1px solid #000000;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

select {
	overflow:auto;
}
.sideleft{
  margin-top: 100px;
	float:left;
	margin-right:5px;
	margin-left:100px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 1000px;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.rightB {
padding-bottom: 100px; /*Высота футера*/
  align-content: center;
  margin: 60px;
  margin-left: 1500px;
  margin-right: 200px;
}