<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="shortcut icon" type="image/x-icon" href={{ url_for('static', filename='Screenshot_1.png') }}>
  <link rel="stylesheet" href= {{ url_for('static', filename='styles.css') }} media="all">
  <base target="_parent">
</head>
<body>
     <div class="content">
      <header>
        <div class="topmenu">
          <a href= {{ url_for('index') }} class="main">Информационная система управления проектами</a>
          {% if current_user.is_anonymous%}
            <a href="{{ url_for('login') }}">Войти</a>
            <a href="{{ url_for('register') }}">Регистрация</a>
          {% else %}
            <a href= {{ url_for('add') }}>Добавить</a>
            <a href= {{ url_for('projects') }}>Проекты {{ current_user.name }}</a>
            <a href= {{ url_for('plans') }}>План работ</a>
            <a href= {{ url_for('results') }}>Результаты</a>
            <a href= {{ url_for('logout') }}>Выйти</a>
          {% endif %}
        </div>
      </header>
      <!--ЭТО БАЗА ПОТОМ ВНУТРИ БЛОКА ДЕЛАЕТСЯ КОНТЕНТ  -->
        {% block content %}{% endblock %} 
    </div>
    <footer>
      Москва, 2019
    </footer>
 
</body>
</html>