{% extends "base.html" %}
{% block content %}
    <form class="register_form" action="" method="post" novalidate>
        <h1>Войти</h1>
        {{ form.hidden_tag() }}
        <ul>
            <li>
                {{ form.username.label }}
                {{ form.username(size=32) }}
                {% for error in form.username.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </li>
            <li>
                {{ form.password.label }}
                {{ form.password(size=32) }}
                {% for error in form.password.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </li>
            <li>{{ form.remember_me() }} {{ form.remember_me.label }} </li>
            <li><button class="submit" type="submit">Войти</button></li>
            <li><p>Новый пользователь? <a href="{{ url_for('register') }}">Кликните зарегаться!</a></p></li>
        </ul>
    </form>

{% endblock %}