{% extends "base.html" %}
{% block content %}		
<div class="main">  
	<div class="sideleft">
	  <h2>План работ</h2>
		<table>
			<tr>
				<th>Наименование этапа</th>
				<th>Длительность этапа</th>
				<th>Ответственный</th>
				<th>Документы</th>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
		</table>
	</div>
	<div id="projects">
	<p>Выберите<br>проект:</p>
	<ul>
	 <li>Проект 1</li>
	  <li>Проект 2</li>
	  <li>Проект 3</li>
	  <li>Проект 4</li>
	  <li>Проект 5</li>
	  <li>Проект 6</li>
	</ul>
  </div>
  </div>
{% endblock %}