{% extends "base.html" %}

{% block content%}
  <div class="main">  
      <div class="sideleft">
          <h2>План работ</h2>
          <table>
            <tr>
              <th>Наименование</th>
              <th>Описание проекта</th>
              <th>Участники</th>
              <th>Бюджет</th>
              <th>Начало</th>
              <th>Конец</th>
              <th>Руководитель</th>
            </tr>
            {%for project in projects %}
            <tr>
              <td>{{project.name}}</td>
              <td>{{project.description}}</td>
              <td>{{project.participants}}</td>
              <td>{{project.budget}}</td>
              <td>{{project.beginning}}</td>
              <td>{{project.end}}</td>
              <td>{{project.leader}}</td>
            </tr>
            {% endfor %}
          </table>
        </div>
      </div>
  </div>
{% endblock %}
